$input-text-color: var(--pad-gray-900);
$input-border-color: var(--pad-gray-300);
$input-border-color-focus: var(--pad-primary-500);
$input-border-color-error: var(--pad-error-500);

.pad-select {
  --text-color: #{$input-text-color};
  --border-color-focus: #{$input-border-color-focus};
  --border-color: #{$input-border-color};
  --shadow-color: var(--pad-primary-200);

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.875rem;
  width: 100%;
  font-size: 1rem;
  color: var(--text-color);
  line-height: calc(1.5rem - 2px);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  transition: color, background-color, border-color, 200ms ease-in-out;

  cursor: pointer;

  &:focus {
    --tw-ring-inset: 0;
    --tw-ring-offset-width: 0;
    --tw-ring-offset-color: 0;
    --tw-ring-color: #bfdbfe;
    border-color: var(--border-color-focus);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
      0px 0px 0px 3px var(--shadow-color);
  }

  &-status-error {
    --border-color: #{$input-border-color-error};
    --border-color-focus: #{$input-border-color-error};
    --shadow-color: var(--pad-error-200);
  }

  &.pad-select-size-md {
    padding: 0.5rem 0.875rem;
  }

  &.pad-select-size-lg {
    padding: 0.625rem 0.875rem;
  }

  &:disabled {
    background: var(--pad-gray-50);
    border-color: var(--pad-gray-300);
  }

  .pad-select-placeholder {
    color: var(--pad-gray-500);
  }


  .pad-icon {
    color: var(--pad-gray-500);
  }
}
