<span>
  <ng-container *ngIf="display"> {{ display }} </ng-container>
  <ng-container *ngIf="!display">
    <p class="pad-select-placeholder">{{ padPlaceholder }}</p>
  </ng-container>
</span>
<pad-icon key="chevron-down"></pad-icon>
