<div class="pad-checkbox-control">
  <input
    #input
    type="checkbox"
    [attr.name]="name"
    [attr.id]="id"
    [required]="required"
    [checked]="checked"
    [disabled]="disabled" />
  <div (click)="toggle()" class="pad-checkbox-background">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M20 6L9 17L4 12" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
</div>

<label class="pad-checkbox-text" [for]="id">
  <ng-content></ng-content>
</label>
