.pad-checkbox {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  &-control {
    position: relative;

    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .pad-checkbox-background {
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.375rem;
      transition: all 200ms ease-in-out;

      & svg {
        transition: all 200ms ease-in-out;
      }
    }

    input[type="checkbox"] ~ .pad-checkbox-background {
      border: 1px solid var(--pad-gray-300);

      & svg {
        opacity: 0;
      }
    }

    input[type="checkbox"]:checked ~ .pad-checkbox-background {
      background-color: var(--pad-primary-100);
      border: 1px solid var(--pad-primary-600);

      & svg {
        opacity: 1;
        color: var(--pad-primary-600);
      }
    }

    input[type="checkbox"]:hover ~ .pad-checkbox-background {
      background-color: var(--pad-primary-100);
      border-color: var(--pad-primary-600);
    }

    input[type="checkbox"]:focus ~ .pad-checkbox-background {
      box-shadow: 0px 0px 0px 0.25rem var(--pad-primary-100);
    }
  }

  &-text {
    cursor: pointer;
    font-weight: 500;
    color: var(--pad-gray-700);
  }

  &.disabled {
    input[type="checkbox"] {
      cursor: not-allowed;
    }
    input[type="checkbox"] ~ .pad-checkbox-background {
      background-color: var(--pad-gray-100);
      border: 1px solid var(--pad-gray-300);
      box-shadow: none;
      & svg {
        display: block;
        color: var(--pad-gray-300);
      }
    }

    .pad-checkbox-text {
      cursor: not-allowed;
    }
  }
}

.pad-checkbox.pad-checkbox-size-md {
  gap: 0.75rem;

  .input {
    width: 1.25rem;
    height: 1.25rem;
  }

  .pad-checkbox-background {
    width: 1.25rem;
    height: 1.25rem;

    & svg {
      stroke-width: 4;
      width: 0.875rem;
      height: 0.875rem;
    }
  }

  .pad-checkbox-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.pad-checkbox.pad-checkbox-size-sm {
  gap: 0.5rem;

  .input {
    width: 1rem;
    height: 1rem;
  }

  .pad-checkbox-background {
    width: 1rem;
    height: 1rem;

    & svg {
      stroke-width: 2;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  .pad-checkbox-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
