<div class="p-20 gap-20">
  <div class="pad-dialog-container">
    <pad-dialog-header
      layout="column"
      iconKey="link-01"
      title="Add your company"
      subTitle="Create your company profile for free in less than 5 minutes."></pad-dialog-header>
    <div></div>
    <pad-dialog-footer saveText="Add company"></pad-dialog-footer>
  </div>

  <div class="pad-dialog-container">
    <pad-dialog-header title="Add your company"></pad-dialog-header>
    <div></div>
    <pad-dialog-footer saveText="Add company"></pad-dialog-footer>
  </div>
</div>
