<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Basic Radio</div>

    <div>
      <button [cdkMenuTriggerFor]="menu" pad-button>Click!</button>

      <ng-template #menu>
        <pad-menu cdkMenu>
          <li pad-menu-item>View profile</li>
          <li pad-menu-item>Settings</li>
          <li pad-menu-item>Keyboard shortcuts</li>
          <li pad-menu-divider></li>
          <li pad-menu-item>Changelog</li>
          <li pad-menu-item>Support</li>
          <li pad-menu-item>API</li>
          <li pad-menu-divider></li>
          <li pad-menu-item>Log out</li>
        </pad-menu>
      </ng-template>
    </div>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Menu with Icon</div>

    <div>
      <button [cdkMenuTriggerFor]="menuWithIcon" pad-button>Click!</button>

      <ng-template #menuWithIcon>
        <pad-menu>
          <li pad-menu-item>
            <pad-icon padSize="sm" key="user-01"></pad-icon>
            <p>View profile</p>
          </li>
          <li pad-menu-item>
            <pad-icon padSize="sm" key="settings-01"></pad-icon>
            <p>Settings</p>
          </li>
          <li pad-menu-item>Keyboard shortcuts</li>
          <li pad-menu-divider></li>
          <li pad-menu-item>Changelog</li>
          <li pad-menu-item>Support</li>
          <li pad-menu-item>API</li>
          <li pad-menu-divider></li>
          <li pad-menu-item>Log out</li>
        </pad-menu>
      </ng-template>
    </div>
  </div>
</div>
