@use "sass:list";
@import "../styles/color/color";
@import "../styles/components/button";

$prefix: "pad-button";

@each $style in $button-styles {
  @each $color in $button-colors {
    .#{$prefix}-style-#{$style}.#{$prefix}-color-#{$color} {
      $theme: button-schema($style, $color);
      color: map-get($theme, "text-color");
      background-color: map-get($theme, "background-color");
      border-color: map-get($theme, "border-color");
      box-shadow: map-get($theme, "box-shadow");

      &:hover {
        background-color: map-get($theme, "hover-background-color");
        border-color: map-get($theme, "hover-border-color");
      }

      &[disabled] {
        color: map-get($theme, "disabled-text-color");
        background-color: map-get($theme, "disabled-background-color");
        border-color: map-get($theme, "disabled-border-color");

      }
    }
  }
}

@each $size in $button-sizes {
  [pad-button].#{$prefix}-size-#{$size} {
    $values: button-size($size);
    padding-top: map-get($values, "padding-vertical");
    padding-bottom: map-get($values, "padding-vertical");
    padding-left: map-get($values, "padding-horizontal");
    padding-right: map-get($values, "padding-horizontal");
    font-size: map-get($values, "font-size");
    line-height: calc(map-get($values, "line-height"));
    gap: map-get($values, "gap");
    height: calc(
      map-get($values, "padding-vertical") * 2 + map-get($values, "line-height")
    );

    :only-child {
      padding: 0 2px;
    }
  }
}
