@use "sass:list";
@import "../styles/color/color";
@import "../styles/components/button";
@import "../styles/abstracts/mixins";
$prefix: "pad-button";

.pad-icon-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 0.5rem;
  font-weight: 600;

  transition: color, background-color, border-color, 200ms ease-in-out;
}

@each $style in $button-styles {
  @each $color in $button-colors {
    .#{$prefix}-style-#{$style}.#{$prefix}-color-#{$color} {
      $theme: button-schema($style, $color);
      color: map-get($theme, "text-color");
      background-color: map-get($theme, "background-color");
      border-color: map-get($theme, "border-color");
      box-shadow: map-get($theme, "box-shadow");

      .pad-icon {
        color: map-get($theme, "stroke-color");
      }

      &:hover {
        background-color: map-get($theme, "hover-background-color");
        border-color: map-get($theme, "hover-border-color");
      }

      &[disabled] {
        color: map-get($theme, "disabled-text-color");
        background-color: map-get($theme, "disabled-background-color");
        border-color: map-get($theme, "disabled-border-color");

      }
    }
  }
}

@each $size in $button-sizes {
  [pad-icon-button].#{$prefix}-size-#{$size} {
    $values: button-icon-size($size);
    padding: calc(map-get($values, "padding") - 1px);
    font-size: map-get($values, "font-size");
    line-height: calc(map-get($values, "line-height"));

    @include square(
      map-get($values, "padding") * 2 + map-get($values, "line-height")
    );
  }
}
