.pad-dialog-header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 1rem;
  width: 100%;

  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.25rem;

  border-bottom: 1px solid var(--pad-gray-200);

  &.pad-dialog-header-layout-row {
    flex-direction: row;
  }

  &.pad-dialog-header-layout-column {
    flex-direction: column;
  }

  &__left {
    color: var(--pad-gray-700);
  }
  &__right {
    width: 100%;
    overflow: hidden;
  }

  &__title {
    color: var(--pad-gray-900);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  &__sub-title {
    color: var(--pad-gray-600);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__btn-close.pad-icon-button {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: var(--pad-gray-500);
    padding: 0.625rem;

  }
}

@media screen and (max-width: 640px) {
  .pad-dialog-header:not(.not-auto-responsive) {
    padding: 1.25rem 1rem;

    .pad-dialog-header__left {
      display: none;
    }
  }
}
