.pad-dialog-footer {
  box-sizing: border-box;
  display: flex;
  gap: 0.75rem;
  border-top: 1px solid var(--pad-gray-200);
  width: 100%;
  padding: 1.5rem;
  &__button {
    flex: 1;
  }

  &.pad-dialog-footer-layout-row {
    flex-direction: row;
  }

  &.pad-dialog-footer-layout-column {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .pad-dialog-footer:not(.not-auto-responsive) {
    display: flex;
    padding: 1rem;
  }
}
