<div *ngIf="iconKey" class="pad-dialog-header__left">
  <pad-featured-icon padSize="lg">
    <pad-icon [key]="iconKey" padSize="lg"></pad-icon>
  </pad-featured-icon>
</div>
<div class="pad-dialog-header__right">
  <h4 class="pad-dialog-header__title">{{ title }}</h4>
  <p class="pad-dialog-header__sub-title">{{ subTitle }}</p>
</div>

<button
  (click)="close.next()"
  class="pad-dialog-header__btn-close"
  pad-icon-button
  padStyle="basic">
  <pad-icon key="x-close" padSize="lg"></pad-icon>
</button>
