<div class="w-60 h-screen border-r border-pad-gray-300 max-sm:hidden">
  <div
    (click)="goToAutocomplete()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Autocomplete</p>
  </div>
  <div
    (click)="goToInput()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Input</p>
  </div>

  <div
    (click)="goToButton()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Button</p>
  </div>
  <div
    (click)="goToSelect()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Select</p>
  </div>
  <div
    (click)="goToRadio()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Radio</p>
  </div>

  <div
    (click)="goToMenu()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Menu</p>
  </div>

  <div
    (click)="goToDialog()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Dialog</p>
  </div>

  <div
    (click)="goToToast()"
    class="px-4 py-2.5 flex items-center transition-all duration-200 ease-in-out cursor-pointer hover:bg-pad-gray-50">
    <p class="text-sm font-medium text-pad-gray-700">Toast</p>
  </div>
</div>
