@use "sass:map";

$error-text-color: var(--pad-error-500);
$hint-text-color: var(--pad-gray-600);

$input-text-color: var(--pad-gray-900);
$input-border-color: var(--pad-gray-300);
$input-border-color-focus: var(--pad-primary-500);
$input-border-color-error: var(--pad-error-500);

$input: (
  "padding-vertically": 0.625rem,
  "padding-horizontally": 0.875rem,
  "line-height": calc(1.5rem - 2px),
  "border-width": 1px,
);

:host {
  --prefix-width: 2.5rem;
  --suffix-width: 2.5rem;
}

.pad-form-control {
  position: relative;
  display: inline-block;
  gap: 0.375rem;
  width: 100%;

  .pad-icon {
    color: var(--pad-gray-500);
  }

  .pad-input {
    --text-color: #{$input-text-color};
    --border-color-focus: #{$input-border-color-focus};
    --border-color: #{$input-border-color};
    --shadow-color: var(--pad-primary-200);

    padding: map-get($map: $input, $key: "padding-vertically")
      map-get($map: $input, $key: "padding-horizontally");
    width: 100%;
    font-size: 1rem;
    color: var(--text-color);
    line-height: calc(1.5rem - 2px);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    transition: color, background-color, border-color, 200ms ease-in-out;

    &:focus {
      --tw-ring-inset: 0;
      --tw-ring-offset-width: 0;
      --tw-ring-offset-color: 0;
      --tw-ring-color: #bfdbfe;
      border-color: var(--border-color-focus);
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);

      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
        0px 0px 0px 3px var(--shadow-color);
    }

    &-status-error {
      --border-color: #{$input-border-color-error};
      --border-color-focus: #{$input-border-color-error};
      --shadow-color: var(--pad-error-200);
    }

    &-size-md {
      padding: 0.5rem 0.875rem;
    }

    &-size-lg {
      padding: 0.625rem 0.875rem;
    }

    &:disabled {
      background: var(--pad-gray-50);
      border-color: var(--pad-gray-300);
    }
  }

  & :has(.pad-input-size-md) {
    height: 2.5rem;
  }

  & :has(.pad-input-size-lg) {
    height: 2.75rem;
  }

  .pad-error {
    // position: absolute;
    // left: 0;
    display: block;
    font-size: 0.8125rem;
    color: $error-text-color;
    margin-top: 0.375rem;
  }

  .pad-hint {
    display: block;
    font-size: 0.8125rem;
    color: $hint-text-color;
    margin-top: 0.375rem;
  }

  &.has-prefix .pad-input,
  &.has-prefix .pad-select {
    padding-left: calc(var(--prefix-width) + 1.25rem);
  }

  &.has-suffix .pad-input,
  &.has-suffix .pad-select {
    padding-right: calc(var(--suffix-width) + 1.25rem);
  }

  .pad-prefix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
  }

  .pad-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
  }

  &.pad-control-status-error .pad-suffix,
  &.pad-control-status-error .pad-prefix {
    top: calc(50% - (0.375rem + 1.25rem) / 2);
  }
}
