.pad-form-field {
  display: inline-flex;
  flex-direction: column;
  gap: 0.375rem;
}

.pad-input:focus {
  @apply ring-2 ring-offset-0 ring-blue-200 border-blue-500;
}

.pad-input-status-error {
  @apply border-red-500;
}

.pad-input-status-error:focus {
  @apply ring-2 ring-offset-0 ring-red-200 border-red-500;
}
