$label-text-color: var(--pad-gray-700);

.pad-label {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: $label-text-color;
  font-weight: 500;

  &-required::after {
    color: var(--pad-error-600);
    content: " *";
    display: inline;
  }
}
