.pad-toast {
  --pad-toast-text-color: transparent;
  --pad-toast-background-color: transparent;
  --pad-toast-stroke-color: transparent;
  --pad-toast-border-color: transparent;

  display: flex;
  box-sizing: border-box;
  border-radius: 0.75rem;
  border: 1px solid var(--pad-toast-border-color);
  background: var(--pad-toast-background-color);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  &.pad-toast-success {
    --pad-toast-text-color: var(--pad-success-700);
    --pad-toast-background-color: var(--pad-success-50);
    --pad-toast-stroke-color: var(--pad-success-600);
    --pad-toast-border-color: var(--pad-success-300);
  }

  &.pad-toast-error {
    --pad-toast-text-color: var(--pad-error-700);
    --pad-toast-background-color: var(--pad-error-50);
    --pad-toast-stroke-color: var(--pad-error-600);
    --pad-toast-border-color: var(--pad-error-300);
  }

  &.pad-toast-info {
    --pad-toast-text-color: var(--pad-gray-700);
    --pad-toast-background-color: var(--pad-gray-50);
    --pad-toast-stroke-color: var(--pad-gray-600);
    --pad-toast-border-color: var(--pad-gray-300);
  }

  &.pad-toast-warning {
    --pad-toast-text-color: var(--pad-warning-700);
    --pad-toast-background-color: var(--pad-warning-50);
    --pad-toast-stroke-color: var(--pad-warning-600);
    --pad-toast-border-color: var(--pad-warning-300);
  }

  &__container {
    position: relative;
    display: flex;
    padding: 1rem;
    padding-right: 2.5rem;
    gap: 1rem;
    width: 27rem;
    .pad-icon {
      color: var(--pad-toast-stroke-color) !important;
    }
  }

  &__container.has-title {
    padding-right: 1.75rem;
  }

  &__left {
    display: flex;
    flex: none;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: justify;

    gap: 0.5rem;
  }
  &__title {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: var(--pad-toast-text-color);
  }

  &__message {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--pad-toast-text-color);
  }

  &__button-close.pad-button {
    position: absolute;
    display: flex;
    top: 0.5rem;
    // transform: translateY(-50%);
    right: 0.5rem;
    padding: 0.5rem;
    border-color: transparent;
    background-color: transparent;

    .not-title & {
      top: 50%;
      transform: translateY(-50%);
    }



    &:hover {
      background:  transparent !important;
    }
  }
}
