<div
  [@notificationMotion]="state()"
  (@notificationMotion.done)="animationDone($event)"
  [class]="toastClasses">
  <div
    [class.has-title]="data.title"
    [style.width]="data.width"
    class="pad-toast__container">
    <div class="pad-toast__left">
      <pad-icon [key]="iconKey"></pad-icon>
    </div>
    <div class="pad-toast__right">
      <h4 *ngIf="data.title" class="pad-toast__title">{{ data.title }}</h4>
      <p *ngIf="data.message" class="pad-toast__message">{{ data.message }}</p>
    </div>

    <button
      (click)="onCloseClick()"
      padSize="md"
      padStyle="basic"
      [padColor]="color"
      pad-icon-button
      class="pad-toast__button-close">
      <pad-icon key="x-close"></pad-icon>
    </button>
  </div>
</div>
