<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Basic Radio</div>

    <div>
      <p>Pick your favorite framework</p>
      <pad-radio-group
        class="flex flex-col"
        [formControl]="languageControl"
        name="language">
        <pad-radio disabled [checked]="true" padValue="angular">Angular</pad-radio>
        <pad-radio padValue="reactjs">ReactJS</pad-radio>
        <pad-radio padValue="vuejs">Vuejs</pad-radio>
      </pad-radio-group>
      <div>Your favorite framework is: {{ languageControl.value }}</div>
    </div>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Basic Radio Button</div>

    <div>
      <p>Pick your plan:</p>
      <pad-radio-group
        class="flex flex-col gap-2"
        [formControl]="planControl"
        name="language">
        <pad-radio-button disabled padValue="free">
          <p class="font-medium text-pad-gray-700">Free plan</p>
          <p>Includes up to 10 users, 20GB individual data and access to all features.</p>
        </pad-radio-button>

        <pad-radio-button padValue="basic">
          <p class="font-medium text-pad-gray-700">Basic plan</p>
          <p>Includes up to 10 users, 20GB individual data and access to all features.</p>
        </pad-radio-button>

        <pad-radio-button padValue="medium">
          <p class="font-medium text-pad-gray-700">Medium plan</p>
          <p>
            Includes up to 100 users, 100GB individual data and access to all features.
          </p>
        </pad-radio-button>
      </pad-radio-group>
      <div>Your favorite framework is: {{ planControl.value }}</div>
    </div>
  </div>
</div>
