@mixin label() {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  font-weight: 500;
  color: var(--pad-gray-700);
}

@mixin active() {
  background: var(--pad-gray-100);
}

.pad-select-item-option {
  list-style: none;
  display: flex;
  align-items: center;
  align-self: stretch;
  // width: 100%;
  margin: 0.125rem 0.375rem;
  padding: 0.5625rem 0.625rem;
  border-radius: 0.375rem;
  // justify-content: space-between;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;

  @include label();

  &:hover {
    @include active();
  }

  &-active {
    @include active();
  }

  &-selected {
    @include active();
  }

  & > .pad-icon:nth-child(1) {
    margin-right: 0.5rem;
  }
}
