<!-- <pad-icon key="bookmark"></pad-icon>
<button (click)="openDialog()">open dialog</button>

<div class="flex flex-col" [formGroup]="i">
  <pad-form-field>
    <pad-label required>Value 1</pad-label>
    <pad-form-control>
      <input
        padInputNumber
        [maximumFractionDigits]="3"
        formControlName="value1"
      />
    </pad-form-control>
  </pad-form-field>

  <pad-form-field>
    <label>Value 2</label>
    <pad-form-control>
      <input
        padInputNumber
        [maximumFractionDigits]="3"
        formControlName="value2"
      />
    </pad-form-control>
  </pad-form-field>

  <pad-form-field>
    <label>Sum</label>
    <pad-form-control>
      <input
        padInputNumber
        [maximumFractionDigits]="3"
        formControlName="valueSum"
      />
    </pad-form-control>
  </pad-form-field>
</div>
<button (click)="onChangeValue()">add</button> -->
<!--
<pad-form-field>
  <pad-form-control>
    <pad-input-number [(ngModel)]="title"></pad-input-number>
  </pad-form-control>
</pad-form-field> -->
<!-- {{ i.value | json }} -->

<!-- <button (click)="showToast()">show toast success</button>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="rounded-xl shadow-xl bg-white p-6 box-content w-[360px]"
>
  <div class="mb-4">
    <img class="w-14 w-14" src="assets/images/logo-125.png" alt="logo" />
  </div>

  <div class="flex flex-col gap-1 mb-8">
    <h4 class="text-xl font-semibold">Log in</h4>
    <p class="text-base text-gray-600">
      Welcome back! Please enter your details.
    </p>
  </div>



  <div class="flex flex-col gap-4 mb-6">
    <pad-form-field>
      <pad-label for="username" required>Email address</pad-label>
      <pad-form-control>
        <input
          class="w-full shadow-sm"
          formControlName="username"
          id="username"
          padInput
          type="text"
        />
        <pad-error *hasError="'required'"
          >Tên đăng nhập không được phép để trống</pad-error
        >
      </pad-form-control>
    </pad-form-field>

    <pad-form-field>
      <pad-label for="current-password" required>Password</pad-label>
      <pad-form-control>
        <input
          class="w-full shadow-sm"
          formControlName="password"
          id="current-password"
          padInput
          type="password"
        />

        <pad-error *hasError="'required'"
          >Mật khẩu không được để trống</pad-error
        >
      </pad-form-control>
    </pad-form-field>
  </div>

  <div class="flex justify-between mb-6">


    <p class="text-sm text-gray-500 font-medium underline">Forgot password?</p>
  </div>

  <button pad-button type="submit" class="w-full mb-6">Log in</button>
  <div class="mb-6 flex items-center justify-center gap-1">
    <p class="text-sm text-gray-500 font-medium">Don’t have an account?</p>
    <p class="text-sm text-gray-800 font-semibold underline">Sign up</p>
  </div>
</form>


<div class="p-32">
  <pad-select>
    Test
  </pad-select>
</div> -->

<div class="flex flex-row">
  <div class="flex-none">
    <app-navbar></app-navbar>
  </div>
  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</div>
