@use "palette" as palette;
@use "sass:color";
@use "sass:map";

$primary-color: #9e77ed;
html {
  // @each $shade, $color in palette.makeColorPalette($primary-color) {
  //   --pad-primary-#{$shade}: #{$color};
  // }

  --primary-light: #{color.scale(#9e77ed, $lightness: -40%)};
}



@function get-color($name, $palette) {
  @return var(--pad-#{$name}-#{$palette})
};



