<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-row gap-8 p-4">
    <div class="flex flex-col w-fit">
      <div class="text-xl font-semibold mb-10">Autocomplete</div>
      <div class="flex flex-col gap-16">
        <pad-form-field>
          <pad-label for="username" required>Search customer</pad-label>
          <pad-form-control>
            <input
              [padAutocomplete]="customerSuggests"
              class="w-full shadow-sm"
              [formControl]="searchControl"
              id="username"
              padInput
              type="text" />
            <pad-error *hasError="'required'"
              >Tên đăng nhập không được phép để trống</pad-error
            >
          </pad-form-control>
        </pad-form-field>

        <pad-autocomplete
          #customerSuggests="padAutocomplete"
          [backfill]="true"
          [compareWith]="compareFun">
          <pad-option
            *ngFor="let option of options"
            [value]="option"
            [label]="option.label">
            {{ option.label }}
          </pad-option>
        </pad-autocomplete>
      </div>
    </div>
  </div>
</div>
