.pad-radio {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  align-items: center;

  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--pad-gray-700);
  gap: 8px;

  cursor: pointer;

  &.disabled {
    cursor: default;
  }

  &__outer-circle {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: inline-flex;
    position: relative;
    background: white;
    border: 1px solid var(--pad-gray-300);
    border-radius: 999px;
    width: 100%;
    height: 100%;

    transition: all 200ms ease-in-out;

    input {
      cursor: pointer;
      opacity: 0;
      overflow: hidden;
    }

    .pad-radio:hover & {
      background: var(--pad-primary-100);
      border: 1px solid var(--pad-primary-600);
    }

    .pad-radio:active & {
      background: white;
      border: 1px solid var(--pad-primary-300);
      box-shadow: 0px 0px 0px 4px var(--pad-primary-100);
    }

    &.checked {
      background: var(--pad-primary-100);
      border: 1px solid var(--pad-primary-600);
    }

    &.disabled {
      background: var(--pad-gray-100) !important;
      border: 1px solid var(--pad-gray-200) !important;
      box-shadow: none !important;
      transition: none;
    }
  }

  &__inner-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 200ms ease-in-out;
    background-color: var(--pad-primary-600);
    border-radius: 999px;
    .checked & {
      opacity: 1;
    }

    .disabled & {
      background: var(--pad-gray-300);
    }
  }

  &.pad-radio-size-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
    gap: 8px;
    .pad-radio__outer-circle {
      flex: none;
      width: 1rem;
      height: 1rem;
    }
    .pad-radio__inner-circle {
      width: 0.4rem;
      height: 0.4rem;
    }
  }

  &.pad-radio-size-md {
    font-size: 1rem;
    line-height: 1.5rem;
    gap: 12px;
    .pad-radio__outer-circle {
      flex: none;
      width: 1.25rem;
      height: 1.25rem;
    }
    .pad-radio__inner-circle {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
