@import './radio.scss';
.pad-radio-button {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--pad-gray-200);
  padding: 1rem;
  color: var(--pad-gray-600);
  align-items: flex-start;

  background: white;
}

.pad-radio-button.pad-radio-size-sm {
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.pad-radio-button.pad-radio-size-md {
  gap: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.pad-radio__outer-circle {
  margin-top: 0.125rem;
}

.pad-radio-button:hover {
  border-color: var(--pad-primary-300);

  .pad-radio__outer-circle {
    background: var(--pad-primary-100);
    border: 1px solid var(--pad-primary-600);
  }
}

.pad-radio-button.checked {
  // border: 2px solid var(--pad-primary-600);
  border-color: var(--pad-primary-600);
  outline: 1px solid var(--pad-primary-600);
  background: var(--pad-primary-50);
}

.pad-radio-button.disabled {
  background: var(--pad-gray-50);

  .pad-radio__outer-circle input {
    cursor: default;
  }
}
