<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Basic Input</div>

    <form class="flex gap-4" [formGroup]="form">
      <pad-form-field>
        <pad-label for="username" required>Email address</pad-label>
        <pad-form-control>
          <input
            class="w-full shadow-sm"
            formControlName="username"
            id="username"
            padInput
            type="text" />
          <pad-error *hasError="'required'"
            >Tên đăng nhập không được phép để trống</pad-error
          >
        </pad-form-control>
      </pad-form-field>

      <pad-form-field>
        <pad-label for="current-password" required>Password</pad-label>
        <pad-form-control>
          <input
            class="w-full shadow-sm"
            formControlName="password"
            id="current-password"
            padInput
            type="password" />

          <pad-error *hasError="'required'">Mật khẩu không được để trống</pad-error>
        </pad-form-control>
      </pad-form-field>
    </form>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Input with Icon</div>

    <form class="flex gap-4" [formGroup]="form">
      <pad-form-field>
        <pad-label for="username" required>Email address</pad-label>
        <pad-form-control>
          <pad-icon padPrefix key="user-01"></pad-icon>
          <input
            class="w-full shadow-sm"
            formControlName="username"
            id="username"
            padInput
            type="text" />
          <pad-error *hasError="'required'"
            >Tên đăng nhập không được phép để trống</pad-error
          >
        </pad-form-control>
      </pad-form-field>

      <pad-form-field>
        <pad-label for="current-password" required>Password</pad-label>
        <pad-form-control>
          <input
            class="w-full shadow-sm"
            formControlName="password"
            id="current-password"
            padInput
            type="password" />

          <pad-error *hasError="'required'">Mật khẩu không được để trống</pad-error>
        </pad-form-control>
      </pad-form-field>
    </form>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Input with Suffix</div>

    <form class="flex gap-4" [formGroup]="form">
      <pad-form-field>
        <pad-label for="username" required>Email address</pad-label>
        <pad-form-control>
          <input
            class="w-full shadow-sm"
            formControlName="username"
            id="username"
            padInput
            type="text" />
          <p padSuffix>@gmail.com</p>
          <pad-error *hasError="'required'"
            >Tên đăng nhập không được phép để trống</pad-error
          >
        </pad-form-control>
      </pad-form-field>

      <pad-form-field>
        <pad-label for="current-password" required>Password</pad-label>
        <pad-form-control>
          <input
            class="w-full shadow-sm"
            formControlName="password"
            id="current-password"
            padInput
            type="password" />

          <pad-error *hasError="'required'">Mật khẩu không được để trống</pad-error>
        </pad-form-control>
      </pad-form-field>
    </form>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Number input</div>

    <pad-form-field>
      <pad-label for="price" required>Price</pad-label>
      <pad-form-control>
        <input
          [(ngModel)]="price"
          class="w-full shadow-sm"
          id="price"
          padInputNumber
          type="text" />
      </pad-form-control>
    </pad-form-field>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Input with error value</div>

    <pad-form-field>
      <pad-label for="price" required>Price</pad-label>
      <pad-form-control>
        <input
          [(ngModel)]="price"
          class="w-full shadow-sm"
          id="price"
          padInputNumber
          type="text" />
        <pad-error *hasError="'max'; let value"
          >Giảm giá không thể lớn hơn {{ value.max }}</pad-error
        >
      </pad-form-control>
    </pad-form-field>
  </div>
</div>
