/* You can add global styles to this file, and also import other style files */
@import url(./styles/font.scss);
@import url(./styles/global.scss);
@import url(./styles//reset.scss);
@import url(./styles/tailwind.scss);

@import "@angular/cdk/overlay-prebuilt.css";

body,
html {
  font-family: "Inter", sans-serif;
}

.pad-dialog-container {
  @apply rounded-xl;
}

.pad-dialog-backdrop {
  @apply bg-black bg-opacity-50;
}
