<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Basic Select</div>

    <div>
      <pad-form-field class="w-full">
        <pad-label for="username" required>Customer</pad-label>
        <pad-form-control>
          <pad-select padPlaceholder="Select customer"> Test </pad-select>
          <pad-error *hasError="'required'"
            >Tên đăng nhập không được phép để trống</pad-error
          >
        </pad-form-control>
      </pad-form-field>
    </div>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Select with prefix</div>

    <div>
      <pad-form-field class="w-full">
        <pad-label for="username" required>Customer</pad-label>
        <pad-form-control>
          <pad-icon class="!stroke-pad-gray-500" padPrefix key="user-01"></pad-icon>
          <pad-select padPlaceholder="Select customer"></pad-select>
          <pad-error *hasError="'required'"
            >Tên đăng nhập không được phép để trống</pad-error
          >
        </pad-form-control>
      </pad-form-field>
    </div>
  </div>
</div>
