.pad-featured-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--pad-gray-200);
  color: var(--pad-gray-700);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.pad-featured-icon-size-lg {
  width: 3rem;
  height: 3rem;
  border-radius: 0.625rem;
}

.pad-featured-icon-size-md {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.pad-featured-icon-size-sm {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375;
}
