.pad-icon {
  display: inline-flex;
  --pad-icon-size-xs: 0.75rem;
  --pad-icon-size-sm: 1rem;
  --pad-icon-size-md: 1.25rem;
  --pad-icon-size-lg: 1.5rem;
  --pad-icon-size-xl: 2rem;
  --pad-icon-size-2xl: 2.5rem;

  &-size-xs {
    width: var(--pad-icon-size-xs);
    height: var(--pad-icon-size-xs);
    svg {
      width: var(--pad-icon-size-xs);
      height: var(--pad-icon-size-xs);
    }
  }

  &-size-sm {
    width: var(--pad-icon-size-sm);
    height: var(--pad-icon-size-sm);
    svg {
      width: var(--pad-icon-size-sm);
      height: var(--pad-icon-size-sm);
    }
  }
  &-size-md {
    width: var(--pad-icon-size-md);
    height: var(--pad-icon-size-md);
    svg {
      width: var(--pad-icon-size-md);
      height: var(--pad-icon-size-md);
    }
  }

  &-size-lg {
    width: var(--pad-icon-size-lg);
    height: var(--pad-icon-size-lg);

    svg {
      width: var(--pad-icon-size-lg);
      height: var(--pad-icon-size-lg);
    }
  }

  &-size-xl {
    width: var(--pad-icon-size-xl);
    height: var(--pad-icon-size-xl);
    svg {
      width: var(--pad-icon-size-xl);
      height: var(--pad-icon-size-xl);
    }
  }

  &-size-2xl {
    width: var(--pad-icon-size-2xl);
    height: var(--pad-icon-size-2xl);
    svg {
      width: var(--pad-icon-size-2xl);
      height: var(--pad-icon-size-2xl);
    }
  }
}
