<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Basic Toast</div>

    <div class="flex gap-3">
      <button pad-button (click)="onShowToastError()">Error</button>
      <button pad-button (click)="onShowToastSuccess()">Success</button>
      <button pad-button (click)="onShowToastWarning()">Warning</button>
      <button pad-button (click)="onShowToastInfo()">Info</button>
    </div>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Toast with Title</div>

    <div class="flex gap-3">
      <button pad-button (click)="onShowToastErrorWithTitle()">Error</button>
      <button pad-button (click)="onShowToastSuccessWithTitle()">Success</button>
      <button pad-button (click)="onShowToastWarningWithTitle()">Warning</button>
      <button pad-button (click)="onShowToastInfoWithTitle()">Info</button>
    </div>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-col gap-8 p-4">
    <div class="text-xl font-semibold">Toast custom width</div>

    <div class="flex gap-3">
      <button pad-button (click)="onShowToastCustomWidth()">Show</button>
    </div>
  </div>
</div>
