<div class="p-12 flex flex-col gap-8">
  <div class="rounded-md border border-gray-300 flex flex-row gap-8 p-4">
    <div class="flex flex-col w-fit">
      <div class="text-xl font-semibold mb-10">Button</div>

      <button (click)="onToggleDisabled()">toggle disabled</button>

      <div class="flex flex-col gap-16">
        <ng-container *ngFor="let style of styles">
          <div class="flex flex-col gap-3">
            <ng-container *ngFor="let color of colors">
              <div class="flex gap-8">
                <ng-container *ngFor="let size of sizes">
                  <button
                    pad-button
                    [padStyle]="style"
                    [padColor]="color"
                    [padSize]="size"
                    [disabled]="$disabled()">
                    <p>Button CTA</p>
                  </button>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="flex flex-col">
      <p class="text-base font-medium">@Input</p>
      <div class="flex">
        <p class="text-base text-pad-gray-700">Size</p>
        <p class="text-base text-pad-gray-900">Sm</p>
      </div>
      <div class="flex">
        <p class="text-base text-pad-gray-700">Color</p>
        <p class="text-base text-pad-gray-900">Primary</p>
      </div>
      <div class="flex">
        <p class="text-base text-pad-gray-700">Style</p>
        <p class="text-base text-pad-gray-900">Default</p>
      </div>
    </div>
  </div>

  <div class="rounded-md border border-gray-300 flex flex-row gap-8 p-4">
    <div class="flex flex-col w-fit">
      <div class="text-xl font-semibold mb-10">Button</div>
      <div class="flex flex-col gap-16">
        <ng-container *ngFor="let style of styles">
          <div class="flex flex-col gap-3">
            <ng-container *ngFor="let color of colors">
              <div class="flex gap-8">
                <ng-container *ngFor="let size of sizes">
                  <button
                    pad-icon-button
                    [padStyle]="style"
                    [padColor]="color"
                    [padSize]="size">
                    <pad-icon key="alert-circle"></pad-icon>
                  </button>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="flex flex-col">
      <p class="text-base font-medium">@Input</p>
      <div class="flex">
        <p class="text-base text-pad-gray-700">Size</p>
        <p class="text-base text-pad-gray-900">Sm</p>
      </div>
      <div class="flex">
        <p class="text-base text-pad-gray-700">Color</p>
        <p class="text-base text-pad-gray-900">Primary</p>
      </div>
      <div class="flex">
        <p class="text-base text-pad-gray-700">Style</p>
        <p class="text-base text-pad-gray-900">Default</p>
      </div>
    </div>
  </div>
</div>
