.pad-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.25rem 0;
  border-radius: 8px;
  border: 1px solid var(--pad-gray-200);
  background: white;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.pad-menu .pad-menu-item {
  list-style: none;
  margin: 0.125rem 0.375rem;
  padding: 0.5625rem 0.625rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  align-self: stretch;
  // justify-content: space-between;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--pad-gray-700);
  transition: background-color 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--pad-gray-100);
  }

  & > .pad-icon:nth-child(1) {
    margin-right: 0.5rem;
  }
}

.pad-menu .pad-menu-divider {
  display: inline-flex;
  height: 1px;
  width: 100%;
  background-color: var(--pad-gray-200);
  margin: 0.25rem 0;

}
